@tailwind base;
@tailwind components;
@tailwind utilities;

html,
:root {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif!important;
}
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif!important;
}

h3 {
  color: #252B42;
  letter-spacing: -0.96px;
  font-size: 24px;
}

p{
  letter-spacing: -0.32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.form-login #login-form_Email, .form-login #login-form_Senha{
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  padding-left: 24px !important;
  color: #E3E7EB !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

.form-login .ant-input-affix-wrapper .anticon.ant-input-password-icon{
  color: #E3E7EB !important;
}

.form-login .ant-input-affix-wrapper {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 24px !important;
}

.swiper-pagination-bullet-active {
  background: #157C8A!important;
}

.ant-drawer-title{
  font-size:  24px !important;
}

.ant-drawer .ant-drawer-header{
  border-bottom: unset !important;
  padding: 42px !important;
}

.ant-collapse-item > .ant-collapse-header .anticon {
  transform: rotate(90deg);
}

.ant-collapse-item-active > .ant-collapse-header .anticon {
  transform: rotate(-180deg);
}

.ant-drawer-body{
  padding: 0px !important;
}

.ant-menu-inline-collapsed-tooltip{
  display: none !important;
}

.ant-drawer .ant-drawer-footer {
  padding: 0px !important;
}

.ant-image-mask{
  border-radius: 12px;
}

.ant-menu-horizontal{
  border-bottom: unset !important;
}

.ant-menu {
  justify-content: space-around;
  line-height: 40px!important;
}

.ant-menu-horizontal .ant-menu-item{
  padding-inline: 0px!important;
}
.ant-menu-light.ant-menu-horizontal >.ant-menu-item::after{
  inset-inline: 0px!important;
}
