.sider, .siderDark {
  z-index: 11;
}

.ant-menu-item .ant-menu-item-selected{
  padding-left: 54px;
}

.sider :global(.ant-menu .ant-menu-item-selected) {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.sider :global(.ant-menu-inline .ant-menu-item){
  margin-inline: 26px;
  font-size: 16px;
  width: unset;
  height: 48px;
  margin-bottom: 18px;
  padding-left: 16px!important;
}

.sider :global(.ant-menu-item-selected){
  background: #EDF4F5;
}

.siderDark :global(.ant-menu-item-selected){
  background: #26272B;
}

.sider :global(.ant-menu-inline-collapsed > .ant-menu-item .ant-menu-item-icon +span){
  display: none!important;
}

.sider :global(.ant-menu-inline-collapsed .ant-menu-item){
  margin-inline: 26px;
  font-size: 16px;
  width: unset;
  height: 48px;
  margin-bottom: 18px;
  line-height: normal;
}

.sider :global(.ant-menu-inline-collapsed >.ant-menu-item){
  padding-inline: 0;
  text-align: center;
  align-content: center;
}

.sider :global(.ant-menu-item .ant-menu-item-selected){
  margin-inline: 26px;
  width: unset;
  height: 48px;
  padding-left: 16px!important;
  /* background: #EDF4F5; */
}

.sider :global(.ant-menu .ant-menu-item .ant-menu-item-icon +span){
  margin-inline-start: 16px;
}

.sider :global(.ant-layout-sider-trigger) {
  bottom: 42px;
  /* height: 0; */
  display: flex;
  justify-content: flex-end;
  left: -42px;
  background-color: transparent;
}

.sider :global(.ant-layout-sider-children) {
  height: auto;
  margin-top: auto;
  padding-top: 0;
}
